$font-main: 'Noto Sans KR', sans-serif;
$font-title: 'Bangers', cursive;

$font-size-10: 10px;
$line-hieght-10: 24px;
$letter-spacing-10: -0.005em;

$font-size-13: 13px;
$line-hieght-13: 24px;
$letter-spacing-13: -0.01em;

$font-size-16: 16px;
$line-hieght-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-20: 20px;
$line-hieght-20: 30px;
$letter-spacing-20: -0.01em;

$font-size-24: 24px;
$line-hieght-24: 36px;
$letter-spacing-24: -0.02em;

$font-size-50: 50px;
$line-hieght-50: 75px;
$letter-spacing-50: -0.01em;
